#include "{{header}}"
/* 
  This file is intentionally empty,
  it only exists to tell cmake to scan {{header_path}}

  and to make pedantic compilation happy (avoid empty translation unit error)
*/

enum commit_info { happy_pedantic_compilation };