{
    "$schema": "https://json.schemastore.org/prettierrc",
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "tabWidth": 2,
    "bracketSpacing": true,
    "arrowParens": "always",
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-organize-imports"
    ],
    "organizeImportsSkipDestructiveCodeActions": true
}