version: "3.9"
services:
  dimos-debug:
    build:
      context: ../../
      dockerfile: software/dimos/Dockerfile.debug
    image: dimos-debug:latest
    ports:
      # SSH debug
      - "2231:2231"
      # gdbserver
      - "2232:2232"
      # qml debug
      - "2233:2233"
    volumes:
      - type: bind
        source: /tmp
        target: /tmp
      - type: bind
        source: /dev
        target: /dev
    device_cgroup_rules:
      # ... for tty0
      - "c 4:0 rmw"
      # ... for tty7
      - "c 4:7 rmw"
      # ... for /dev/input devices
      - "c 13:* rmw"
      - "c 199:* rmw"
      # ... for /dev/dri devices
      - "c 226:* rmw"
    depends_on: [
      weston
    ]

  dimos:
    container_name: dimos-container
    build:
      context: ../../
      dockerfile: software/dimos/Dockerfile
    image: dimos:latest
    volumes:
      - type: bind
        source: /tmp
        target: /tmp
      - type: bind
        source: /dev
        target: /dev
    device_cgroup_rules:
      - "c 4:0 rmw" # tty0 (teletype)
      - "c 4:7 rmw" # tty7
      - "c 13:* rmw" # /dev/input devices
      - "c 199:* rmw" # /dev/input devices
      - "c 226:* rmw" # /dev/dri devices
    depends_on: [
      weston
    ]

  weston:
    container_name: Weston_Container
    image: torizon/weston${GPU}:3
    environment:
      - ACCEPT_FSL_EULA=1
    # Required to get udev events from host udevd via netlink
    network_mode: host
    volumes:
      - type: bind
        source: /tmp
        target: /tmp
      - type: bind
        source: /dev
        target: /dev
      - type: bind
        source: /run/udev
        target: /run/udev
    # noinspection ComposeUnknownValues
    cap_add:
      - CAP_SYS_TTY_CONFIG
    # Add device access rights through cgroup
    device_cgroup_rules:
      - "c 4:0 rmw" # tty0
      - "c 4:1 rmw" # tty1
      - "c 4:7 rmw" # tty7
      - "c 13:* rmw"  # /dev/input devices
      - "c 199:* rmw" # /dev/input devices
      - "c 226:* rmw" # /dev/dri devices