Checks: -*, # https://clang.llvm.org/extra/clang-tidy/checks/list.html
  #  abseil-*,
  #  altera-*,
  #  android-*,
  #  boost-*,
  bugprone-*,
  #  concurrency-*,
  cppcoreguidelines-*,
  #  darwin-*,
  #  fuchsia-*,
  #  google-*,
  #  google-default-arguments,
  #  google-runtime-operator,
  #  linux-kernel-*,
  #  llvm-*,
  #  llvm-libc-*,
  misc-*,
  #  misc-misplaced-const,
  #  misc-new-delete-overloads,
  #  misc-non-copyable-objects,
  #  misc-throw-by-value-catch-by-reference,
  #  misc-unconventional-assign-operator,
  #  misc-uniqueptr-reset-release,
  modernize-*,
  mpi-*,
  #  objc-*,
  #  openmp-*,
  #  openmp-use-default-none,
  performance-*,
  portability-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  #  zircon-*,
#HeaderFilterRegex: '^firmware/*'
SystemHeaders: false