[submodule "tools/cmsis-svd"]
	path = tools/cmsis-svd
	url = https://github.com/posborne/cmsis-svd
[submodule "boards/shared/profiler-cortex-m4"]
	path = boards/shared/profiler-cortex-m4
	url = https://github.com/UBCFormulaElectric/profiler-cortex-m4
