# Note: Setting `sudo` to `required` will add 20-50s to CI image boot time
os: linux
dist: bionic
sudo: false
language: python
python: "3.6"

git:
  submodules: false

env:
  global:
    - INSTALL_DIR=/usr/local
    - CUBE_INSTALL_DIR=$INSTALL_DIR/STM32CubeMX
    - PYTHONPATH=$PWD

before_install:
  - ./scripts/travis_ci/pull_git_submodules.sh
  - pip install pipenv
  - git lfs pull

install:
  - pipenv install
  # Modify $PATH directly in .travis.yml because a child process (i.e.
  # travis_install_binaries.sh) can't modify the environmental variables of its
  # parent process (i.e. .travis.yml)
  - PATH=$INSTALL_DIR/bin:$CUBE_INSTALL_DIR:$PATH && ./scripts/travis_ci/travis_install_binaries.sh $INSTALL_DIR $CUBE_INSTALL_DIR

addons:
  apt_packages:
    - lib32bz2-1.0
    - lib32ncurses5
    - lib32z1

before_script:
  - ./scripts/travis_ci/print_bin_versions.sh
  # Use xvfb to run tests that require a GUI (e.g. STM32CubeMX code generation)
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # Give xvfb some time to start

script:
  - ./scripts/travis_ci/travis_script.sh $CUBE_INSTALL_DIR/STM32CubeMX

matrix:
  include:
    - name: "Build ARM Executables"
      env: RUN_ARM_BUILD="true"
    - name: "Build and Run x86 Tests"
      env: RUN_X86_TESTS="true"
    - name: "Check Formatting"
      env: RUN_FORMATTING_CHECKS="true"
    - name: "Check STM32CubeMX Code Generation"
      env: RUN_CUBE_CODEGEN_CHECKS="true"
