[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asammdf = "*"
tzlocal = "*"
black = "*"
cantools = "*"
cmake = "*"
flask = "*"
gitpython = "*"
google-api-python-client = "*"
grpcio-tools = "*"
influxdb-client = "*"
intelhex = "*"
IPython = "*"
jinja2 = "*"
pandas = "*"
protobuf = "*"
protoletariat = "*"
pyclibrary = "*"
PyGithub = "*"
pyocd = "*"
pyserial = "*"
pytest = "*"
python-can = "*"
python-dateutil = "*"
requests = "*"
rich = "*"
schema = "*"
strenum = "*"

[dev-packages]
setuptools = "*"
build = "*"

[requires]
python_version = "3.11"
