#include "fake_{{ fake_module }}.hpp"
#include <string.h>
#include <unordered_map>

extern "C"
{
#include "{{ io_module }}.h"
}

using namespace std;

{% for definition in definitions -%}

{{ definition }}

{% endfor %}
