{%- set func_return_value = name + "_return_value" -%}
{%- set func_call_count = name + "_call_count" -%}

// 
// Fakes for: {{ name }}
//

// State variables.
static {{ return_type }} {{ func_return_value }};
static uint32_t {{ func_call_count }};

//Callback Function Pointer
static {{ return_type }} (*{{ name }}_callback)(void) = NULL;

extern "C" 
{
    // Faked void function with no params.
    {{ return_type }} {{ name }}(void)
    {
        // Increment call count.
        {{ func_call_count }}++;

        // Return custom return value if no callback provided
        if({{ name }}_callback == NULL){
            return {{ func_return_value }};
        }
        // else return based on callback
        else{
            return {{ name }}_callback();
        }
    }
}

void fake_{{ name }}_returns({{return_type}} return_value)
{
    {{ func_return_value }} = return_value;
}

void fake_{{ name }}_reset() 
{
    memset(&{{ func_return_value }}, 0U, sizeof({{ return_type }}));
    {{ func_call_count }} = 0;
    {{ name }}_callback = NULL;
}

uint32_t fake_{{ name }}_callCount(void)
{
    return {{ func_call_count }};
}

void fake_{{ name }}_setCallBack({{ return_type }} (*func_ptr)(void))
{
   {{ name }}_callback = func_ptr;
}