// 
//  Fakes for: {{ name }}
//

void fake_{{ name }}_reset(void);
uint32_t fake_{{ name }}_callCount(void);
void fake_{{ name }}_returnsForArgs(
{%- for param in params %}
    {{ param.type }} {{ param.name }}
    {%- if not loop.last %}, {% endif %}
{%- endfor %},
    {{ return_type }} return_value
);
uint32_t fake_{{ name }}_callCountForArgs(
{%- for param in params %}
    {{ param.type }} {{ param.name }}
    {%- if not loop.last %}, {% endif %}
{%- endfor %}
);