// 
// Fakes for: {{ name }}
//

/**
 * Reset the fake for {{ name }}.
 */
void fake_{{ name }}_reset(void);

/**
 * Set the value to be returned by {{ name }} when invoked with a specific set of arguments.
 */
void fake_{{ name }}_returnsForArgs(
{%- for param in params %}
    {{ param.type }} {{ param.name }}
    {%- if not loop.last %}, {% endif %}
{%- endfor %},
    {{ return_type }} return_value
);

void fake_{{ name }}_returnsForAnyArgs(
    {{ return_type }} return_value
);

/**
 * Return the number of times {{ name }} has been invoked.
 */
uint32_t fake_{{ name }}_callCount(void);

/**
 * Return the number of times {{ name }} has been invoked with a specific set of arguments.
 */
uint32_t fake_{{ name }}_callCountForArgs(
{%- for param in params %}
    {{ param.type }} {{ param.name }}
    {%- if not loop.last %}, {% endif %}
{%- endfor %}
);

/**
 * Set a callback function to be called when {{ name }} is invoked.
 */
void fake_{{ name }}_setCallBack({{ return_type }} (*func_ptr)({%- for param in params %}
    {{ param.type }}
    {%- if not loop.last %}, {% endif %}
{%- endfor %}));