// 
// Fakes for: {{ name }}
//

/**
 * Reset the fake for {{ name }}.
 */
void fake_{{ name }}_reset(void);

/**
 * Return the number of times {{ name }} has been invoked.
 */
uint32_t fake_{{ name }}_callCount(void);