# Firmware dependencies.
cmake
schema
strenum
pyocd
cantools
pyclibrary
jinja2
gitpython
intelhex
protobuf
grpcio-tools
pyserial
protoletariat
pybind11
pytest
rich

# Tracksight backend dependencies.
flask
Definitions
flask_cors
pandas
flask_socketio
pytest
asammdf
requests
python-dotenv
influxdb-client