# true if running mock without serial/radio
# run serial/radio otherwise
MOCK="false"

SERIAL_PORT="/dev/tty.usbserial-FT76H2U7"
SERIAL_BAUD_RATE="57600"

INFLUXDB_URL="http://localhost:8086"
INFLUXDB_ORG=""
INFLUXDB_TOKEN=""
INFLUXDB_BUCKET=""

CAR_NAME="quintuna"

BACKEND_PORT="5000"
MDNS_LOCAL_IP="none"