# Template for backend.env file, which is required for backend to run
# Contains configurations for the backend
# Locate in same location as project root or executable

# true if running mock without serial/radio
# run serial/radio otherwise
MOCK="false"

SERIAL_PORT="/dev/tty.usbserial-FT76H2U7"
SERIAL_BAUD_RATE="57600"

INFLUXDB_URL="http://localhost:8086"
INFLUXDB_ORG="ubcformulaelectric"
INFLUXDB_TOKEN="top_secret_token"
INFLUXDB_BUCKET="can_data"

CAR_NAME="quintuna"

BACKEND_PORT="5000"
# This is used if a specific IP is needed to override for MDNS
# Otherwise, use default IP of local machine
MDNS_LOCAL_IP="none"