:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 255, 255, 255; /* White text */
  --background-rgb: 0, 0, 0; /* Dark background */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.layout {
  margin-top: 0.5rem;
  padding: 2%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.controls p {
  margin: 0;
}

.graph-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 1.5rem;
}


.space-between {
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
}

.ant-dropdown-menu {
  max-height: 200px;
  overflow: auto;
}
