# Environment variables in common.env will be used during Docker compose build
#   i.e. exposing ports
# If running Docker compose in command line, need to specify `--env-file=common.env`
# MacOS users will need to disable AirDrop or specify different port, as it takes up port 5000
BACKEND_PORT=5000
FRONTEND_PORT=3000
INFLUXDB_PORT=8086