NEXT_PUBLIC_API_BASE_URL=http://localhost:5000
NEXT_PUBLIC_BACKEND_PORT=5000
NEXT_PUBLIC_MAX_RECONNECTION_ATTEMPTS=5
NEXT_PUBLIC_IS_DEBUG=false
NEXT_PUBLIC_IS_VERBOSE_DEBUG=false
NEXT_PUBLIC_USE_MOCK_DATA=false
