name: Add Binary and DBC to Releases tab
on:
  push:
    branches:
      - master

jobs:
  build:
    uses: ./.github/workflows/build.yml # https://github.blog/changelog/2022-01-25-github-actions-reusable-workflows-can-be-referenced-locally/ God is good
    secrets:
      docker_token: ${{secrets.DOCKER_TOKEN}}
    with:
      upload_artifact: true
  generate-dbc:
    name: Generate CAN DBC file
    runs-on: ubuntu-22.04
    container:
      image: ubcformulaelectric/environment:new_cube
      credentials:
        username: ubcformulaelectric
        password: ${{ secrets.docker_token }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with: # TODO check if submodules are required (can be optimized away)
          submodules: recursive
      - name: Generate DBC
        run: |
          python3 scripts/code_generation/jsoncan/generate_can_from_json.py --only_dbc --can_data_dir "can_bus/json" --dbc_output "can_bus/dbcs/CanMsgs.dbc"
      - name: Upload DBC to Artifact
        uses: actions/upload-artifact@v2
        with:
          name: CanMsgs.dbc
          path: ./can_bus/dbcs/CanMsgs.dbc
  make-release:
    name: Add Binaries and DBC to Release Tab
    runs-on: ubuntu-22.04
    needs: [build, generate-dbc]
    steps:
      - name: Download Binaries and DBC from Artifacts
        uses: actions/download-artifact@v2
      - name: Create Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          title: "Binaries and DBCs"
          tag: ${{ github.sha }}
          prerelease: false
          files: |
            FSM.elf
            BMS.elf
            DCM.elf
            DIM.elf
            PDM.elf
            CanMsgs.dbc
