name: UBC Formula Electric CI
on:
  pull_request:

jobs:
  clang-format:
    name: Check C Formatting
    runs-on: ubuntu-22.04

    container:
      image: ubcformulaelectric/environment:latest
      credentials:
        username: ubcformulaelectric
        password: ${{ secrets.DOCKER_TOKEN }}

    steps:
      # Fix to get git diff working in a Docker container
      # https://github.com/actions/checkout/issues/363
      - name: Setup git
        run: git config --global --add safe.directory $(realpath .)

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Format code
        run: python3 scripts/clang_format/fix_formatting.py

      - name: Check for differences
        run: git --no-pager diff --color --exit-code

  codegen:
    name: Check CubeMX Code Gen
    runs-on: ubuntu-22.04
    needs: [ clang-format ]
    strategy:
      fail-fast: false
      matrix:
        include:
          - board: BMS
            ioc_dir: firmware/thruna/BMS/src/cubemx
          - board: DCM
            ioc_dir: firmware/thruna/DCM/src/cubemx
          - board: FSM
            ioc_dir: firmware/thruna/FSM/src/cubemx
          - board: PDM
            ioc_dir: firmware/thruna/PDM/src/cubemx
          - board: DIM
            ioc_dir: firmware/thruna/DIM/src/cubemx
          - board: VC
            ioc_dir: firmware/quadruna/VC/src/cubemx
          - board: BMS
            ioc_dir: firmware/quadruna/BMS/src/cubemx
          - board: FSM
            ioc_dir: firmware/quadruna/FSM/src/cubemx
          - board: RSM
            ioc_dir: firmware/quadruna/RSM/src/cubemx
          - board: CRIT
            ioc_dir: firmware/quadruna/CRIT/src/cubemx
          - board: f4boot
            ioc_dir: firmware/boot/f4boot/cubemx
          - board: f4dev
            ioc_dir: firmware/dev/f4dev/cubemx
          - board: h7dev
            ioc_dir: firmware/dev/h7dev/cubemx

    container:
      image: ubcformulaelectric/environment:latest
      credentials:
        username: ubcformulaelectric
        password: ${{ secrets.DOCKER_TOKEN }}

    steps:
      # Fix to get git diff working in a Docker container
      # https://github.com/actions/checkout/issues/363
      - name: Setup git
        run: git config --global --add safe.directory $(realpath .)

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate Log4J file
        run: python3 scripts/utilities/generate_log4j_properties.py --log4j_properties_output /root/.stm32cubemx/log4j.properties

      # To ensure that the generated STM32CubeMX code is up to date with the .ioc file, we
      # we also generate a checksum from the .ioc file when code is generated during builds.
      # During CI, we re-generate the checksum. If it matches, then the code is up to date,
      # otherwise, you need to re-generate STM32CubeMX code locally.
      - name: Generate checksum
        run: |
          python3 scripts/utilities/generate_md5_checksum.py \
            $GITHUB_WORKSPACE/${{ matrix.ioc_dir }}/${{ matrix.board }}.ioc \
            $GITHUB_WORKSPACE/${{ matrix.ioc_dir }}/${{ matrix.board }}.ioc.md5

      - name: Check for differences
        run: git --no-pager diff --color --exit-code

  build-firmware:
    needs: [ clang-format ]
    name: Build Firmware Binaries
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        board:
          - thruna_BMS
          - thruna_DCM
          - thruna_FSM
          - thruna_PDM
          - thruna_DIM
          - quadruna_VC
          - quadruna_BMS
          - quadruna_FSM
          - quadruna_RSM
          - quadruna_CRIT
          - f4dev
          - h7dev

    container:
      image: ubcformulaelectric/environment:latest
      credentials:
        username: ubcformulaelectric
        password: ${{ secrets.docker_token }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: ./.github/actions/build_binary
        with:
          board: ${{ matrix.board }}

  test:
    needs: [ clang-format ]
    name: Test Firmware
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - board: FSM
            car: thruna
          - board: PDM
            car: thruna
          - board: BMS
            car: thruna
          - board: DCM
            car: thruna
          - board: DIM
            car: thruna
          - board: VC
            car: quadruna
          - board: BMS
            car: quadruna
          - board: FSM
            car: quadruna
# TODO uncomment when RSM and CRIT tests are readys
#          - board: RSM
#            car: quadruna
#          - board: CRIT
#            car: quadruna

    container:
      image: ubcformulaelectric/environment:latest
      credentials:
        username: ubcformulaelectric
        password: ${{ secrets.DOCKER_TOKEN }}

    env:
      BUILD_DIR: build_fw_test

    steps:
      # Fix to ensure that commands like git status work in child directories
      # for gitpython in git_commit_info
      - name: Setup git
        run: git config --global --add safe.directory $(realpath .)

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build
        run: |
          cmake -B $BUILD_DIR -DPLATFORM=firmware -DTARGET=test -DHANDLE_DEPS=OFF -DFIX_FORMATTING=OFF
          make --directory=$BUILD_DIR -j`nproc` ${{ matrix.car }}_${{ matrix.board }}_test

      - name: Run Tests
        run: |
          cd $BUILD_DIR/firmware/${{ matrix.car }}/${{ matrix.board }}
          valgrind --tool=memcheck --leak-check=yes ./${{ matrix.car }}_${{ matrix.board }}_test

  test-shared:
    name: Test Shared
    runs-on: ubuntu-22.04
    needs: [ clang-format ]
    container:
      image: ubcformulaelectric/environment:latest
      credentials:
        username: ubcformulaelectric
        password: ${{ secrets.DOCKER_TOKEN }}

    env:
      BUILD_DIR: build_fw_test

    steps:
      # Fix to ensure that commands like git status work in child directories
      # for gitpython in git_commit_info
      - name: Setup git
        run: git config --global --add safe.directory $(realpath .)

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build
        run: |
          cmake -B $BUILD_DIR -DPLATFORM=firmware -DTARGET=test -DHANDLE_DEPS=OFF -DFIX_FORMATTING=OFF
          make --directory=$BUILD_DIR -j`nproc` shared_test

      - name: Run tests
        run: |
          cd $BUILD_DIR/firmware/shared
          valgrind --tool=memcheck --leak-check=yes ./shared_test

  test-fakegen:
    name: Test Fake Function Generation
    runs-on: ubuntu-22.04
    needs: [ clang-format ]
    container:
      image: ubcformulaelectric/environment:latest
      credentials:
        username: ubcformulaelectric
        password: ${{ secrets.DOCKER_TOKEN }}

    env:
      BUILD_DIR: build_fw_test

    steps:
      # Fix to ensure that commands like git status work in child directories
      # for gitpython in git_commit_info
      - name: Setup git
        run: git config --global --add safe.directory $(realpath .)

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build
        run: |
          cmake -B $BUILD_DIR -DPLATFORM=firmware -DTARGET=test -DNO_VENV=ON -DHANDLE_DEPS=OFF -DFIX_FORMATTING=OFF
          make --directory=$BUILD_DIR -j`nproc` fakegen_test

      - name: Run tests
        run: |
          cd $BUILD_DIR/scripts/code_generation/fakegen
  
  test-logfs:
    name: Test logfs
    runs-on: ubuntu-22.04
    needs: [ clang-format ]
    container:
      image: ubcformulaelectric/environment:latest
      credentials:
        username: ubcformulaelectric
        password: ${{ secrets.DOCKER_TOKEN }}

    env:
      BUILD_DIR: build_fw_test

    steps:
      # Fix to ensure that commands like git status work in child directories
      # for gitpython in git_commit_info
      - name: Setup git
        run: git config --global --add safe.directory $(realpath .)

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Build and install `logfs`
        run: |
          pip3 install pybind11
          cmake -B $BUILD_DIR -DPLATFORM=firmware -DTARGET=test -DNO_VENV=ON -DHANDLE_DEPS=OFF -DFIX_FORMATTING=OFF
          make --directory=$BUILD_DIR -j`nproc` install_python_logfs
