name: DBC Release
on:
  pull_request:
    branches:
      - master
      - peter/build_DBC_PR

jobs:
  generate-dbc:
    name: Call DBC Generation
    uses: ./.github/workflows/dbc-gen.yml
    secrets:
      docker_token: ${{secrets.DOCKER_TOKEN}}
    with:
      upload_artifact: true
  make-release:
    name: Add DBC to Pull_Request-specific release
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    needs: [ generate-dbc ]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          sparse-checkout: .github
      - name: Download DBC from artifact
        uses: actions/download-artifact@v3
      - name: Create Release for DBC
        uses: ./.github/actions/push_release
        with:
          # https://github.com/actions/download-artifact#download-all-artifacts
          files: |
            CanMsgs.dbc/CanMsgs.dbc
          title: "DBC for ${{ github.head_ref }}"
          body: "DBC for ${{ github.head_ref }} generated by UBC Formula Electric Continuous Integration."
          tag_name: "${{ github.head_ref }}_tag"
