name: Generate DBC
on:
  workflow_call:
    secrets:
      docker_token:
        required: true
    inputs:
      upload_artifact:
        required: false
        type: boolean
        default: false

jobs:
  generate-dbc:
    name: Generate CAN DBC file
    runs-on: ubuntu-22.04
    container:
      image: ubcformulaelectric/environment:latest
      credentials:
        username: ubcformulaelectric
        password: ${{ secrets.docker_token }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with: # TODO check if submodules are required (can be optimized away)
          submodules: recursive
      - name: Generate DBC
        run: |
          python3 scripts/code_generation/jsoncan/generate_can_from_json.py --only_dbc --can_data_dir "can_bus/json" --dbc_output "can_bus/dbcs/CanMsgs.dbc"
      - name: Upload DBC to Artifact
        uses: actions/upload-artifact@v2
        with:
          name: CanMsgs.dbc
          path: ./can_bus/dbcs/CanMsgs.dbc