name: DBC Release
on:
  pull_request:
    branches:
      - master
    types:
      - labeled
      - synchronize

jobs:
  determine-should-run:
    name: Check for want-DBC label
    runs-on: ubuntu-22.04
    outputs:
      should_run: ${{ steps.should_run.outputs.should_run }}
    steps:
      - name: Determine Should Run
        id: should_run
        run: |
          echo "${{ toJSON(github.event.pull_request.labels.*.name) }}"
          echo "should_run=${{ contains(github.event.pull_request.labels.*.name, 'want_DBC') }}" >> $GITHUB_OUTPUT

  upload-dbc:
    name: Generate and Upload DBC to Artifact
    needs: [ determine-should-run ]
    if: needs.determine-should-run.outputs.should_run == 'true'
    runs-on: ubuntu-22.04
    container:
      image: ubcformulaelectric/environment:latest
      credentials:
        username: ubcformulaelectric
        password: ${{ secrets.docker_token }}
    permissions:
      contents: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          sparse-checkout: |
            .github
            scripts
            can_bus
      - name: Make Directory Safe
        run: git config --global --add safe.directory $(realpath .)
      - name: Generate DBC
        uses: ./.github/actions/build_dbc
      - name: Upload DBC to Artifact
        uses: actions/upload-artifact@v4
        with:
          name: CanMsgs.dbc
          path: CanMsgs.dbc

  release-dbc:
    name: Create Release for DBC
    runs-on: ubuntu-latest
    needs: [ upload-dbc ]
    steps:
      # ========= DOWNLOAD FILES =========
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          sparse-checkout: .github
      - name: Download DBC from Artifact
        uses: actions/download-artifact@v4
        with:
          name: CanMsgs.dbc
      - name: Log Files in Current Directory
        run: ls -l -a
      # ========= MAKE THE RELEASE =========
      - name: Create Release for DBC
        uses: ./.github/actions/push_release
        with:
          files: CanMsgs.dbc
          title: "DBC for ${{ github.head_ref }}"
          body: "DBC for ${{ github.head_ref }} generated by UBC Formula Electric Continuous Integration."
          tag_name: "${{ github.head_ref }}_tag"
          latest: false
